// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}
.pinIn{
	display: inline-block;
	text-decoration: none;
}

.box {
	margin: 5px;
	width: 214px;
}

.box img {
	width: 100%;
}

// removes underline when hovering over box on index page
.box {
	a:hover, a:visited, a:link, a:active
	{
	    text-decoration: none;
	}
}




 .test span {
width:100%;
height:100%;

top:0px;
left:0px;
 }